.services {
    padding: 120px 0;
    &__wrapper {
        margin-top: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        width: 74px;
        height: 73px;
        margin: 0 auto;
        background-color: #ffffff;
        border: 3px solid #fed136;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__subtitle {
        margin-top: 25px;
        font-size: 18px;
        font-weight: 700;
        color: #222222;
        text-align: center;
    }
    &__descr {
        width: 280px;
        font-size: 14px;
        font-weight: 400;
        color: #777777;
        text-align: center;
    }
}